NODE_ENV=development

# General
PORT=
HOSTNAME=

# Database
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_URL=
DATABASE_PORT=
DATABASE_NAME=
AUTH_USER=
AUTH_PASSWORD=

# Telegram
BOT_TOKEN=
ADMINS_CHAT_ID=
WORKERS_CHAT_ID=
ACTORS_CHAT_ID=
TRAINEES_CHAT_ID=
WORKERS_THREAD_ID=
ACTORS_THREAD_ID=
ADMINS_THREAD_ID=
TRAINEES_THREAD_ID=

# Konsol
KONSOL_TOKEN=

# WebSocket
HOST=
WEBSOCKET_PORT=

# Auth
NEXT_PUBLIC_BOT_USERNAME=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_AUTH_CLIENT_ID=

# Google
SCHEDULE_SHEET_ID=
WORKERS_SHEET_ID=
ACTORS_SHEET_ID=

# Google authOld
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_PROJECT_ID=
GOOGLE_PRIVATE_KEY_ID=
GOOGLE_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_CERT_URL=

# Logging
LOKI_URL=
SERVICE_NAME=

# Other
KEY=